* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main #Area {
  width: 604px;
  height: 604px;
  border: 2px solid black;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
}

#Area .square {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 150px;
}
